.dashboard-container {
    margin: 4em;

    .dashboard-title {
        text-align: center;
        color: #00bcd4;
    }

    .buy-tokens-button {
        display: block !important;
        margin-left: auto;
        margin-right: auto;
    }
}